sano_venv/
__pycache__
npy_data/
data/
.ipynb_checkpoints/
event_tables/
lightning_logs/
*.err
*.out
*.sh
wandb_api_key.txt
*.pt
*env
*log
.vscode
*cache*
wandb/
t_tests.ipynb
*checkpoints*/
*results/
plots/
saved_res/
checkpoints*/
